In [6]:
sc

AttributeError: 'NoneType' object has no attribute 'sc'

In [3]:
spark.stop()

### Reading data from a JDBC source

In [7]:
from pyspark.sql import SparkSession
mysql_connector_path = "/home/hadoop/Downloads/mysql-connector-java-8.0.13.jar"

In [8]:
spark = SparkSession.builder.appName("ETL Pipeline").getOrCreate()

In [5]:
# restart 
#pyspark --jars "path of jar package"

In [9]:
hremployeeDF = spark.read.format("jdbc")\
    .option("url", "jdbc:mysql://localhost:3306/hremployeeDB")\
    .option("dbtable", "hremployee").option("user", "root").option("password", "hadoop@123")\
    .option("driver", "com.mysql.cj.jdbc.Driver").load()

In [10]:
hremployeeDF.createOrReplaceTempView("hrtable")

In [11]:
hremployeeDF.explain()

== Physical Plan ==
*(1) Scan JDBCRelation(hremployee) [numPartitions=1] [EmployeeID#0,Department#1,JobRole#2,Attrition#3,Gender#4,Age#5,MaritalStatus#6,Education#7,EducationField#8,BusinessTravel#9,JobInvolvement#10,JobLevel#11,JobSatisfaction#12,Hourlyrate#13,Income#14,Salaryhike#15,OverTime#16,Workex#17,YearsSinceLastPromotion#18,EmpSatisfaction#19,TrainingTimesLastYear#20,WorkLifeBalance#21,Performance_Rating#22] PushedFilters: [], ReadSchema: struct<EmployeeID:string,Department:string,JobRole:string,Attrition:string,Gender:string,Age:int,...

#### 1.Display The shape of hrtable

In [10]:
len(hr_df.columns) #colums

23

In [11]:
hr_df.count() #rows

1469

In [12]:
# rows
spark.sql("select count(*) as rows from hrtable").show()

+--------+
|count(1)|
+--------+
|    1469|
+--------+

In [14]:
# columns
columns = spark.sql("""describe hrtable""").collect()
len(columns)

23

hr_df.printSchema()

#### write query to show first 3 employee from each job roles to join the company

In [30]:
spark.sql("""
            select * from (
            select EmployeeID,Department,JobRole, row_number() over(partition by JobRole
            order by EmployeeID) as row_num from hrtable) 
            where row_num<4""").show()

+----------+--------------------+--------------------+-------+
|EmployeeID|          Department|             JobRole|row_num|
+----------+--------------------+--------------------+-------+
|         1|               Sales|     Sales Executive|      1|
|      1012|               Sales|     Sales Executive|      2|
|      1014|               Sales|     Sales Executive|      3|
|      1003|Research & Develo...|Manufacturing Dir...|      1|
|      1034|Research & Develo...|Manufacturing Dir...|      2|
|      1038|Research & Develo...|Manufacturing Dir...|      3|
|       100|Research & Develo...|Laboratory Techni...|      1|
|      1001|Research & Develo...|Laboratory Techni...|      2|
|      1002|Research & Develo...|Laboratory Techni...|      3|
|      1013|               Sales|Sales Representative|      1|
|      1022|               Sales|Sales Representative|      2|
|      1057|               Sales|Sales Representative|      3|
|        10|Research & Develo...|Healthcare Repres...|      1|
|      1008|Research & Develo...|Healthcare Repres...|      2|
|      1035|Research & Develo...|Healthcare Repres...|      3|
|      1016|Research & Develo...|  Research Scientist|      1|
|      1017|Research & Develo...|  Research Scientist|      2|
|       102|Research & Develo...|  Research Scientist|      3|
|      1000|     Human Resources|             Manager|      1|
|       106|     Human Resources|             Manager|      2|
+----------+--------------------+--------------------+-------+
only showing top 20 rows

#### 3. write a query to show top3 employee from each job role earning maximum salary

In [35]:
spark.sql("""
            select * from (
            select EmployeeID,Department,JobRole,Income,rank() over(partition by JobRole
            order by Income desc) as rank_num from hrtable) 
            where rank_num<4""").show()

+----------+--------------------+--------------------+------+--------+
|EmployeeID|          Department|             JobRole|Income|rank_num|
+----------+--------------------+--------------------+------+--------+
|        99|               Sales|     Sales Executive| 13872|       1|
|       545|               Sales|     Sales Executive| 13770|       2|
|       839|               Sales|     Sales Executive| 13758|       3|
|       722|Research & Develo...|Manufacturing Dir...| 13973|       1|
|       628|Research & Develo...|Manufacturing Dir...| 13826|       2|
|       744|Research & Develo...|Manufacturing Dir...| 13726|       3|
|       678|Research & Develo...|Laboratory Techni...|  7403|       1|
|       817|Research & Develo...|Laboratory Techni...|  6782|       2|
|       945|Research & Develo...|Laboratory Techni...|  6674|       3|
|       565|               Sales|Sales Representative|  6632|       1|
|      1308|               Sales|Sales Representative|  5405|       2|
|      1220|               Sales|Sales Representative|  4502|       3|
|      1181|Research & Develo...|Healthcare Repres...| 13966|       1|
|       317|Research & Develo...|Healthcare Repres...| 13964|       2|
|       190|Research & Develo...|Healthcare Repres...| 13734|       3|
|        68|Research & Develo...|  Research Scientist|  9724|       1|
|      1315|Research & Develo...|  Research Scientist|  6962|       2|
|      1305|Research & Develo...|  Research Scientist|  6854|       3|
|       191|Research & Develo...|             Manager| 19999|       1|
|       852|Research & Develo...|             Manager| 19943|       2|
+----------+--------------------+--------------------+------+--------+
only showing top 20 rows

In [15]:
hremployeeDF.columns

['EmployeeID',
 'Department',
 'JobRole',
 'Attrition',
 'Gender',
 'Age',
 'MaritalStatus',
 'Education',
 'EducationField',
 'BusinessTravel',
 'JobInvolvement',
 'JobLevel',
 'JobSatisfaction',
 'Hourlyrate',
 'Income',
 'Salaryhike',
 'OverTime',
 'Workex',
 'YearsSinceLastPromotion',
 'EmpSatisfaction',
 'TrainingTimesLastYear',
 'WorkLifeBalance',
 'Performance_Rating']

#### 4. show top3 highest package for overall job role

In [37]:
spark.sql("""
            select * from (
            select EmployeeID,Department,JobRole,Income,rank() over(
            order by Income desc) as rank_num from hrtable) 
            where rank_num<4""").show()

+----------+--------------------+-----------------+------+--------+
|EmployeeID|          Department|          JobRole|Income|rank_num|
+----------+--------------------+-----------------+------+--------+
|       191|Research & Develo...|          Manager| 19999|       1|
|       747|Research & Develo...|Research Director| 19973|       2|
|       852|Research & Develo...|          Manager| 19943|       3|
+----------+--------------------+-----------------+------+--------+

#### 5. Dense Rank()

In [45]:
spark.sql("""
        select employeeid, department,jobrole,age, gender, income,workex,
        dense_rank() over(partition by JobRole order by age, workex) as rank_by_age 
        from hrtable
        """).show()

+----------+----------+---------------+---+------+------+------+-----------+
|employeeid|department|        jobrole|age|gender|income|workex|rank_by_age|
+----------+----------+---------------+---+------+------+------+-----------+
|        97|     Sales|Sales Executive| 24|Female|  4999|     4|          1|
|       526|     Sales|Sales Executive| 24|Female|  4577|     4|          1|
|       381|     Sales|Sales Executive| 24|Female|  4260|     5|          2|
|      1026|     Sales|Sales Executive| 24|Female|  4162|     5|          2|
|       518|     Sales|Sales Executive| 25|  Male|  4851|     4|          3|
|       398|     Sales|Sales Executive| 25|Female|  4487|     5|          4|
|       635|     Sales|Sales Executive| 25|  Male|  4194|     5|          4|
|       639|     Sales|Sales Executive| 25|  Male|  4256|     5|          4|
|       886|     Sales|Sales Executive| 25|  Male|  4950|     5|          4|
|       108|     Sales|Sales Executive| 25|  Male|  5744|     6|          5|
|       139|     Sales|Sales Executive| 25|  Male|  8639|     6|          5|
|       564|     Sales|Sales Executive| 25|Female|  6180|     6|          5|
|       994|     Sales|Sales Executive| 25|  Male|  6232|     6|          5|
|      1433|     Sales|Sales Executive| 25|Female|  4907|     6|          5|
|        55|     Sales|Sales Executive| 26|Female|  4157|     5|          6|
|      1309|     Sales|Sales Executive| 26|  Male|  4684|     5|          6|
|       476|     Sales|Sales Executive| 26|  Male|  6272|     6|          7|
|       574|     Sales|Sales Executive| 26|  Male|  5326|     6|          7|
|       686|     Sales|Sales Executive| 26|  Male|  4294|     7|          8|
|       749|     Sales|Sales Executive| 26|  Male|  4969|     7|          8|
+----------+----------+---------------+---+------+------+------+-----------+
only showing top 20 rows

#### 6.Lag()
    - Is a window function that allows you access records from previous row
    
    - It will be useful in comparing records between rows or calculation differences 
    - lag(column_name, offset, default)

In [48]:
spark.sql("""
        select employeeid, department,jobrole,age, gender,income, lag(income,2,0)
        over(partition by JobRole order by employeeid) as previous_income 
        from hrtable
        """).show()

+----------+----------+---------------+---+------+------+---------------+
|employeeid|department|        jobrole|age|gender|income|previous_income|
+----------+----------+---------------+---+------+------+---------------+
|         1|     Sales|Sales Executive| 41|Female|  5993|              0|
|      1012|     Sales|Sales Executive| 36|Female|  9278|              0|
|      1014|     Sales|Sales Executive| 30|Female|  4779|           5993|
|      1020|     Sales|Sales Executive| 36|Female|  5647|           9278|
|      1026|     Sales|Sales Executive| 24|Female|  4162|           4779|
|      1027|     Sales|Sales Executive| 32|  Male|  9204|           5647|
|      1031|     Sales|Sales Executive| 31|  Male| 10793|           4162|
|      1032|     Sales|Sales Executive| 46|  Male| 10096|           9204|
|      1039|     Sales|Sales Executive| 48|  Male|  5486|          10793|
|      1042|     Sales|Sales Executive| 28|  Male|  8463|          10096|
|      1048|     Sales|Sales Executive| 33|  Male|  4373|           5486|
|      1049|     Sales|Sales Executive| 34|  Male|  4759|           8463|
|      1050|     Sales|Sales Executive| 30|  Male|  5301|           4373|
|      1052|     Sales|Sales Executive| 44|Female|  4768|           4759|
|      1058|     Sales|Sales Executive| 29|Female|  5765|           5301|
|      1059|     Sales|Sales Executive| 34|Female|  4599|           4768|
|      1063|     Sales|Sales Executive| 29|  Male|  8620|           5765|
|      1067|     Sales|Sales Executive| 47|Female|  4591|           4599|
|      1070|     Sales|Sales Executive| 28|  Male|  4898|           8620|
|       108|     Sales|Sales Executive| 25|  Male|  5744|           4591|
+----------+----------+---------------+---+------+------+---------------+
only showing top 20 rows

### 7. NTILE()
    - Dividing records into quantile

In [52]:
spark.sql("""
        select employeeid, department,jobrole,age, gender,income, NTILE(4)
        over(order by Income) as salary_quantiler 
        from hrtable
        """).show(500)

+----------+--------------------+--------------------+---+------+------+----------------+
|employeeid|          department|             jobrole|age|gender|income|salary_quantiler|
+----------+--------------------+--------------------+---+------+------+----------------+
|       514|Research & Develo...|  Research Scientist| 20|  Male|  1009|               1|
|       728|Research & Develo...|  Research Scientist| 18|  Male|  1051|               1|
|       765|               Sales|Sales Representative| 28|  Male|  1052|               1|
|      1338|               Sales|Sales Representative| 30|  Male|  1081|               1|
|      1365|               Sales|Sales Representative| 29|  Male|  1091|               1|
|       178|Research & Develo...|Laboratory Techni...| 19|  Male|  1102|               1|
|       912|               Sales|Sales Representative| 25|  Male|  1118|               1|
|      1402|Research & Develo...|Laboratory Techni...| 31|Female|  1129|               1|
|       302|               Sales|Sales Representative| 18|Female|  1200|               1|
|       911|Research & Develo...|  Research Scientist| 23|  Male|  1223|               1|
|        24|Research & Develo...|  Research Scientist| 21|  Male|  1232|               1|
|      1017|Research & Develo...|  Research Scientist| 31|Female|  1261|               1|
|      1053|Research & Develo...|  Research Scientist| 30|  Male|  1274|               1|
|       516|Research & Develo...|Laboratory Techni...| 35|  Male|  1281|               1|
|      1013|               Sales|Sales Representative| 31|Female|  1359|               1|
|      1205|Research & Develo...|Laboratory Techni...| 32|  Male|  1393|               1|
|       778|Research & Develo...|Laboratory Techni...| 21|Female|  1416|               1|
|       297|Research & Develo...|Laboratory Techni...| 18|  Male|  1420|               1|
|       150|Research & Develo...|Laboratory Techni...| 19|Female|  1483|               1|
|      1311|Research & Develo...|  Research Scientist| 18|Female|  1514|               1|
|      1222|     Human Resources|     Human Resources| 24|  Male|  1555|               1|
|      1069|Research & Develo...|  Research Scientist| 28|  Male|  1563|               1|
|      1153|               Sales|Sales Representative| 18|Female|  1569|               1|
|       586|Research & Develo...|Laboratory Techni...| 23|  Male|  1601|               1|
|       973|Research & Develo...|Laboratory Techni...| 18|Female|  1611|               1|
|       128|               Sales|Sales Representative| 19|  Male|  1675|               1|
|       417|Research & Develo...|Laboratory Techni...| 38|  Male|  1702|               1|
|       616|Research & Develo...|  Research Scientist| 27|  Male|  1706|               1|
|      1438|               Sales|Sales Representative| 23|  Male|  1790|               1|
|       893|Research & Develo...|  Research Scientist| 19|Female|  1859|               1|
|       458|               Sales|Sales Representative| 18|  Male|  1878|               1|
|       829|Research & Develo...|Laboratory Techni...| 18|  Male|  1904|               1|
|        41|Research & Develo...|Laboratory Techni...| 35|  Male|  1951|               1|
|      1457|Research & Develo...|  Research Scientist| 40|Female|  2001|               1|
|       770|Research & Develo...|  Research Scientist| 26|Female|  2007|               1|
|       672|Research & Develo...|Laboratory Techni...| 34|  Male|  2008|               1|
|      1415|Research & Develo...|Laboratory Techni...| 33|  Male|  2008|               1|
|       892|Research & Develo...|  Research Scientist| 44|Female|  2011|               1|
|      1180|Research & Develo...|Laboratory Techni...| 36|  Male|  2013|               1|
|        38|               Sales|Sales Representative| 35|Female|  2014|               1|
|      1083|Research & Develo...|Laboratory Techni...| 40|  Male|  2018|               1|
|       637|Research & Develo...|  Research Scientist| 35|Female|  2022|               1|
|       162|Research & Develo...|  Research Scientist| 27|  Male|  2024|               1|
|        15|Research & Develo...|Laboratory Techni...| 28|  Male|  2028|               1|
|      1210|Research & Develo...|Laboratory Techni...| 33|  Male|  2028|               1|
|       978|Research & Develo...|  Research Scientist| 34|Female|  2029|               1|
|       481|               Sales|Sales Representative| 30|  Male|  2033|               1|
|      1061|               Sales|Sales Representative| 24|Female|  2033|               1|
|       100|Research & Develo...|Laboratory Techni...| 44|  Male|  2042|               1|
|       763|Research & Develo...|  Research Scientist| 26|  Male|  2042|               1|
|       663|               Sales|Sales Representative| 20|Female|  2044|               1|
|      1283|Research & Develo...|  Research Scientist| 28|  Male|  2044|               1|
|       513|Research & Develo...|  Research Scientist| 27|  Male|  2045|               1|
|       218|Research & Develo...|  Research Scientist| 29|  Male|  2058|               1|
|      1118|Research & Develo...|  Research Scientist| 26|Female|  2061|               1|
|      1343|Research & Develo...|Laboratory Techni...| 29|  Male|  2062|               1|
|      1064|     Human Resources|     Human Resources| 30|  Male|  2064|               1|
|      1024|Research & Develo...|  Research Scientist| 56|Female|  2066|               1|
|       273|Research & Develo...|  Research Scientist| 28|  Male|  2070|               1|
|       816|Research & Develo...|  Research Scientist| 21|Female|  2070|               1|
|       101|     Human Resources|     Human Resources| 37|  Male|  2073|               1|
|      1127|Research & Develo...|  Research Scientist| 23|  Male|  2073|               1|
|      1110|Research & Develo...|Laboratory Techni...| 35|Female|  2074|               1|
|        88|Research & Develo...|Laboratory Techni...| 51|  Male|  2075|               1|
|       934|Research & Develo...|  Research Scientist| 28|  Male|  2080|               1|
|       502|Research & Develo...|  Research Scientist| 30|Female|  2083|               1|
|        34|               Sales|Sales Representative| 39|  Male|  2086|               1|
|       173|Research & Develo...|Laboratory Techni...| 36|  Male|  2088|               1|
|       194|Research & Develo...|  Research Scientist| 43|  Male|  2089|               1|
|         3|Research & Develo...|Laboratory Techni...| 37|  Male|  2090|               1|
|       442|Research & Develo...|Laboratory Techni...| 42|  Male|  2093|               1|
|       479|               Sales|Sales Representative| 25|  Male|  2096|               1|
|       935|Research & Develo...|  Research Scientist| 25|Female|  2096|               1|
|       420|Research & Develo...|Laboratory Techni...| 30|  Male|  2097|               1|
|      1018|Research & Develo...|Laboratory Techni...| 27|  Male|  2099|               1|
|      1321|Research & Develo...|Laboratory Techni...| 47|Female|  2105|               1|
|       865|Research & Develo...|  Research Scientist| 41|  Male|  2107|               1|
|      1036|     Human Resources|     Human Resources| 31|Female|  2109|               1|
|      1258|Research & Develo...|  Research Scientist| 29|Female|  2109|               1|
|       286|Research & Develo...|  Research Scientist| 37|Female|  2115|               1|
|       337|Research & Develo...|Laboratory Techni...| 29|  Male|  2119|               1|
|       689|               Sales|Sales Representative| 19|  Male|  2121|               1|
|       477|Research & Develo...|Laboratory Techni...| 24|  Male|  2127|               1|
|      1029|Research & Develo...|  Research Scientist| 41|  Male|  2127|               1|
|       721|Research & Develo...|  Research Scientist| 30|Female|  2132|               1|
|      1092|Research & Develo...|  Research Scientist| 45|  Male|  2132|               1|
|      1373|Research & Develo...|  Research Scientist| 38|Female|  2133|               1|
|      1141|Research & Develo...|  Research Scientist| 30|  Male|  2141|               1|
|       600|     Human Resources|     Human Resources| 36|  Male|  2143|               1|
|      1381|Research & Develo...|  Research Scientist| 28|  Male|  2144|               1|
|      1245|     Human Resources|     Human Resources| 24|  Male|  2145|               1|
|      1297|     Human Resources|     Human Resources| 26|Female|  2148|               1|
|       208|Research & Develo...|Laboratory Techni...| 36|Female|  2153|               1|
|       922|Research & Develo...|Laboratory Techni...| 28|  Male|  2154|               1|
|       698|               Sales|Sales Representative| 29|Female|  2157|               1|
|      1171|Research & Develo...|Laboratory Techni...| 40|  Male|  2166|               1|
|       860|Research & Develo...|  Research Scientist| 29|Female|  2168|               1|
|       358|               Sales|Sales Representative| 21|Female|  2174|               1|
|       263|Research & Develo...|Laboratory Techni...| 32|  Male|  2176|               1|
|       226|Research & Develo...|  Research Scientist| 59|  Male|  2177|               1|
|       760|     Human Resources|     Human Resources| 45|  Male|  2177|               1|
|      1246|     Human Resources|     Human Resources| 30|Female|  2180|               1|
|       486|Research & Develo...|  Research Scientist| 27|Female|  2187|               1|
|      1411|     Human Resources|     Human Resources| 25|Female|  2187|               1|
|        69|Research & Develo...|  Research Scientist| 35|  Male|  2194|               1|
|       372|Research & Develo...|  Research Scientist| 29|  Male|  2201|               1|
|        33|Research & Develo...|Laboratory Techni...| 30|  Male|  2206|               1|
|       794|Research & Develo...|Laboratory Techni...| 28|  Male|  2207|               1|
|       872|Research & Develo...|Laboratory Techni...| 24|Female|  2210|               1|
|       362|Research & Develo...|Laboratory Techni...| 40|Female|  2213|               1|
|       541|Research & Develo...|  Research Scientist| 28|Female|  2216|               1|
|       400|Research & Develo...|Laboratory Techni...| 31|  Male|  2218|               1|
|       764|               Sales|Sales Representative| 34|Female|  2220|               1|
|      1367|Research & Develo...|  Research Scientist| 27|  Male|  2226|               1|
|       160|               Sales|Sales Representative| 34|Female|  2231|               1|
|       241|Research & Develo...|Laboratory Techni...| 39|Female|  2232|               1|
|       890|Research & Develo...|  Research Scientist| 27|  Male|  2235|               1|
|       149|Research & Develo...|Laboratory Techni...| 41|  Male|  2238|               1|
|       384|Research & Develo...|  Research Scientist| 22|Female|  2244|               1|
|       396|Research & Develo...|Laboratory Techni...| 43|  Male|  2258|               1|
|       841|Research & Develo...|Laboratory Techni...| 35|  Male|  2258|               1|
|       679|Research & Develo...|  Research Scientist| 48|  Male|  2259|               1|
|       233|     Human Resources|     Human Resources| 59|  Male|  2267|               1|
|        50|Research & Develo...|Laboratory Techni...| 35|  Male|  2269|               1|
|      1428|               Sales|Sales Representative| 32|  Male|  2269|               1|
|       714|Research & Develo...|Laboratory Techni...| 45|Female|  2270|               1|
|      1082|Research & Develo...|Laboratory Techni...| 23|  Male|  2272|               1|
|       604|Research & Develo...|  Research Scientist| 45|Female|  2274|               1|
|      1213|               Sales|Sales Representative| 23|  Male|  2275|               1|
|       656|     Human Resources|     Human Resources| 33|  Male|  2277|               1|
|       192|Research & Develo...|  Research Scientist| 27|Female|  2279|               1|
|       386|Research & Develo...|  Research Scientist| 30|  Male|  2285|               1|
|       180|Research & Develo...|Laboratory Techni...| 38|Female|  2288|               1|
|      1266|Research & Develo...|Laboratory Techni...| 41|  Male|  2289|               1|
|       863|Research & Develo...|  Research Scientist| 44|  Male|  2290|               1|
|        35|Research & Develo...|  Research Scientist| 24|  Male|  2293|               1|
|        43|Research & Develo...|Laboratory Techni...| 26|  Male|  2293|               1|
|      1097|Research & Develo...|Laboratory Techni...| 24|  Male|  2296|               1|
|       556|               Sales|Sales Representative| 29|  Male|  2297|               1|
|       953|               Sales|Sales Representative| 31|Female|  2302|               1|
|      1224|Research & Develo...|Laboratory Techni...| 26|  Male|  2305|               1|
|       153|               Sales|Sales Representative| 53|  Male|  2306|               1|
|      1353|Research & Develo...|  Research Scientist| 34|  Male|  2307|               1|
|      1087|               Sales|Sales Representative| 34|  Male|  2308|               1|
|       182|Research & Develo...|  Research Scientist| 34|Female|  2311|               1|
|       799|Research & Develo...|  Research Scientist| 33|  Male|  2313|               1|
|       638|Research & Develo...|Laboratory Techni...| 32|  Male|  2314|               1|
|       671|Research & Develo...|  Research Scientist| 27|Female|  2318|               1|
|       590|Research & Develo...|Laboratory Techni...| 29|Female|  2319|               1|
|       710|Research & Develo...|  Research Scientist| 31|  Male|  2321|               1|
|        87|               Sales|Sales Representative| 23|  Male|  2322|               1|
|       161|Research & Develo...|  Research Scientist| 22|  Male|  2323|               1|
|       777|               Sales|Sales Representative| 20|Female|  2323|               1|
|       172|               Sales|Sales Representative| 19|Female|  2325|               1|
|       295|Research & Develo...|  Research Scientist| 37|  Male|  2326|               1|
|       207|Research & Develo...|  Research Scientist| 22|  Male|  2328|               1|
|       676|               Sales|Sales Representative| 31|  Male|  2329|               1|
|       683|Research & Develo...|Laboratory Techni...| 32|Female|  2332|               1|
|      1313|     Human Resources|     Human Resources| 29|  Male|  2335|               1|
|      1444|Research & Develo...|Laboratory Techni...| 56|  Male|  2339|               1|
|       253|Research & Develo...|  Research Scientist| 29|  Male|  2340|               1|
|       464|Research & Develo...|Laboratory Techni...| 26|  Male|  2340|               1|
|        42|Research & Develo...|Laboratory Techni...| 27|Female|  2341|               1|
|       554|Research & Develo...|  Research Scientist| 40|Female|  2342|               1|
|       634|     Human Resources|     Human Resources| 36|  Male|  2342|               1|
|       755|               Sales|Sales Representative| 33|Female|  2342|               1|
|      1279|Research & Develo...|  Research Scientist| 44|  Male|  2342|               1|
|      1046|Research & Develo...|  Research Scientist| 40|  Male|  2345|               1|
|       154|Research & Develo...|Laboratory Techni...| 45|  Male|  2348|               1|
|       416|               Sales|Sales Representative| 34|Female|  2351|               1|
|       645|Research & Develo...|  Research Scientist| 31|  Male|  2356|               1|
|       954|Research & Develo...|Laboratory Techni...| 44|  Male|  2362|               1|
|      1077|Research & Develo...|  Research Scientist| 29|  Male|  2362|               1|
|       615|Research & Develo...|  Research Scientist| 26|Female|  2366|               1|
|      1114|Research & Develo...|  Research Scientist| 48|Female|  2367|               1|
|      1390|Research & Develo...|Laboratory Techni...| 28|  Male|  2367|               1|
|       126|Research & Develo...|  Research Scientist| 26|Female|  2368|               1|
|       352|Research & Develo...|Laboratory Techni...| 32|Female|  2370|               1|
|       926|Research & Develo...|  Research Scientist| 42|Female|  2372|               1|
|       939|Research & Develo...|  Research Scientist| 58|  Male|  2372|               1|
|       289|Research & Develo...|Laboratory Techni...| 26|  Male|  2373|               1|
|       849|Research & Develo...|Laboratory Techni...| 35|  Male|  2376|               1|
|       669|Research & Develo...|  Research Scientist| 28|Female|  2377|               1|
|       798|Research & Develo...|Laboratory Techni...| 26|  Male|  2377|               1|
|      1317|Research & Develo...|Laboratory Techni...| 27|Female|  2379|               1|
|       661|Research & Develo...|Laboratory Techni...| 58|  Male|  2380|               1|
|       743|Research & Develo...|Laboratory Techni...| 50|  Male|  2380|               1|
|      1436|               Sales|Sales Representative| 21|  Male|  2380|               1|
|       968|Research & Develo...|Laboratory Techni...| 40|  Male|  2387|               1|
|       230|Research & Develo...|  Research Scientist| 29|  Male|  2389|               1|
|       998|Research & Develo...|  Research Scientist| 27|Female|  2394|               1|
|      1273|Research & Develo...|Laboratory Techni...| 22|Female|  2398|               1|
|       471|               Sales|Sales Representative| 24|  Male|  2400|               1|
|       670|Research & Develo...|Laboratory Techni...| 39|  Male|  2404|               1|
|       712|Research & Develo...|  Research Scientist| 29|Female|  2404|               1|
|        62|Research & Develo...|Laboratory Techni...| 38|Female|  2406|               1|
|      1427|Research & Develo...|Laboratory Techni...| 40|  Male|  2406|               1|
|      1136|Research & Develo...|Laboratory Techni...| 28|  Male|  2408|               1|
|       684|               Sales|Sales Representative| 25|  Male|  2413|               1|
|       733|Research & Develo...|Laboratory Techni...| 30|Female|  2422|               1|
|        11|Research & Develo...|Laboratory Techni...| 35|  Male|  2426|               1|
|      1100|               Sales|Sales Representative| 35|Female|  2430|               1|
|      1375|Research & Develo...|  Research Scientist| 32|Female|  2432|               1|
|       235|Research & Develo...|Laboratory Techni...| 33|  Male|  2436|               1|
|      1435|Research & Develo...|  Research Scientist| 44|  Male|  2436|               1|
|      1262|Research & Develo...|  Research Scientist| 43|  Male|  2437|               1|
|      1293|Research & Develo...|  Research Scientist| 43|  Male|  2438|               1|
|      1332|Research & Develo...|  Research Scientist| 29|  Male|  2439|               1|
|      1449|Research & Develo...|  Research Scientist| 32|  Male|  2439|               1|
|      1193|Research & Develo...|Laboratory Techni...| 38|Female|  2440|               1|
|       557|Research & Develo...|Laboratory Techni...| 53|  Male|  2450|               1|
|      1108|Research & Develo...|Laboratory Techni...| 35|  Male|  2450|               1|
|       167|Research & Develo...|  Research Scientist| 41|  Male|  2451|               1|
|       735|Research & Develo...|Laboratory Techni...| 22|  Male|  2451|               1|
|      1104|Research & Develo...|  Research Scientist| 29|  Male|  2451|               1|
|       316|Research & Develo...|Laboratory Techni...| 43|Female|  2455|               1|
|       780|Research & Develo...|  Research Scientist| 51|  Male|  2461|               1|
|      1256|Research & Develo...|Laboratory Techni...| 38|Female|  2468|               1|
|      1339|Research & Develo...|  Research Scientist| 22|  Male|  2472|               1|

#### calculate max, mean and average income from each quantile

In [65]:
# mean salary, median, maximum
spark.sql("""
        select salary_quantile,mean(Income),max(Income),percentile_approx(Income,0.5) as median from
        (select employeeid, department, jobrole, age, gender,income, NTILE(4)
        over(order by Income) as salary_quantile 
        from hrtable) group by salary_quantile
        """).show()

+---------------+------------------+-----------+------+
|salary_quantile|       avg(Income)|max(Income)|median|
+---------------+------------------+-----------+------+
|              1|2353.9972826086955|       2911|  2377|
|              2|3966.7356948228885|       4930|  4033|
|              3| 6191.138964577656|       8380|  6091|
|              4|13522.326975476839|      19999| 13120|
+---------------+------------------+-----------+------+

### 8.Percent_Rank()
    -Window function that calculates relative rank() of row within a result set expressed as percentage

In [66]:
spark.sql("""
        select employeeid, department,jobrole,income,workex,
        percent_rank() over(partition by department order by income desc, workex) as percent_rank
        from hrtable
        """).show()

+----------+----------+-------+---+------+------+------+--------------------+
|employeeid|department|jobrole|age|gender|income|workex|        percent_rank|
+----------+----------+-------+---+------+------+------+--------------------+
|       919|     Sales|Manager| 51|  Male| 19847|    31|                 0.0|
|       750|     Sales|Manager| 52|Female| 19845|    33|0.002252252252252...|
|      1242|     Sales|Manager| 40|  Male| 19833|    21|0.004504504504504...|
|      1116|     Sales|Manager| 55|  Male| 19586|    36|0.006756756756756757|
|       234|     Sales|Manager| 50|Female| 19517|    32|0.009009009009009009|
|      1126|     Sales|Manager| 50|  Male| 19331|    27| 0.01126126126126126|
|       238|     Sales|Manager| 52|  Male| 19068|    33|0.013513513513513514|
|        30|     Sales|Manager| 46|Female| 18947|    22|0.015765765765765764|
|       914|     Sales|Manager| 45|Female| 18824|    26|0.018018018018018018|
|       917|     Sales|Manager| 46|Female| 18789|    26| 0.02027027027027027|
|       742|     Sales|Manager| 42|  Male| 18303|    21| 0.02252252252252252|
|       908|     Sales|Manager| 44|  Male| 18213|    26|0.024774774774774775|
|       418|     Sales|Manager| 40|Female| 18041|    21| 0.02702702702702703|
|      1374|     Sales|Manager| 58|Female| 17875|    29| 0.02927927927927928|
|       756|     Sales|Manager| 45|Female| 17650|    26| 0.03153153153153153|
|      1135|     Sales|Manager| 46|  Male| 17567|    27|0.033783783783783786|
|       811|     Sales|Manager| 46|  Male| 17465|    23|0.036036036036036036|
|       711|     Sales|Manager| 33|  Male| 17444|    10|0.038288288288288286|
|       862|     Sales|Manager| 46|Female| 17048|    28| 0.04054054054054054|
|       120|     Sales|Manager| 43|  Male| 16959|    25| 0.04279279279279279|
+----------+----------+-------+---+------+------+------+--------------------+
only showing top 20 rows

#### Find the total employees in each percentile group 0-25, 25-50, 50-75, 75-100

In [103]:
q1 = spark.sql("""      
        select case 
        when percent_rank <=0.25 then 'Q1'
        when percent_rank <=0.50 then 'Q2'
        when percent_rank <=0.75 then 'Q3'
        else 'Q4'
        end as perc_range, count(*),avg(percent_rank) as average_percent
        from (select employeeid, department,jobrole,income,workex,
        percent_rank() over(partition by department order by income desc, workex) as percent_rank
        from hrtable)
        group by perc_range
        order by perc_range desc
        """).show()

+----------+--------+-------------------+
|perc_range|count(1)|    average_percent|
+----------+--------+-------------------+
|        Q4|     367| 0.8758451785924978|
|        Q3|     366| 0.6258331631141983|
|        Q2|     367|0.37585415384840765|
|        Q1|     369|0.12481905587727776|
+----------+--------+-------------------+

In [94]:
q1 = spark.sql("""      
        select case 
        when percent_rank <=0.25 then 'Q1'
        when percent_rank <=0.50 then 'Q2'
        when percent_rank <=0.75 then 'Q3'
        else 'Q4'
        end as perc_range
        from (select employeeid, department,jobrole,income,workex,
        percent_rank() over(partition by department order by income desc, workex) as percent_rank
        from hrtable)
        group by perc_range
        """).show()

+----------+
|perc_range|
+----------+
|        Q2|
|        Q1|
|        Q3|
|        Q4|
+----------+

#### show jobrole with maximum Attrition Rate in percentage

In [135]:
spark.sql("""
    select count(jobrole)case
    when attrition =='Yes' then 1
    else 0
    end as Attrition
    from hrtable 
    
    """).show()

AnalysisException: "grouping expressions sequence is empty, and 'hrtable.`jobrole`' is not an aggregate function. Wrap '(sum(CAST(CASE WHEN (hrtable.`attrition` = 'Yes') THEN 1 ELSE 0 END AS BIGINT)) AS `Attrition`)' in windowing function(s) or wrap 'hrtable.`jobrole`' in first() (or first_value) if you don't care which value you get.;;\nAggregate [jobrole#2, sum(cast(CASE WHEN (attrition#3 = Yes) THEN 1 ELSE 0 END as bigint)) AS Attrition#2873L]\n+- SubqueryAlias `hrtable`\n   +- Relation[EmployeeID#0,Department#1,JobRole#2,Attrition#3,Gender#4,Age#5,MaritalStatus#6,Education#7,EducationField#8,BusinessTravel#9,JobInvolvement#10,JobLevel#11,JobSatisfaction#12,Hourlyrate#13,Income#14,Salaryhike#15,OverTime#16,Workex#17,YearsSinceLastPromotion#18,EmpSatisfaction#19,TrainingTimesLastYear#20,WorkLifeBalance#21,Performance_Rating#22] JDBCRelation(hremployee) [numPartitions=1]\n"

In [140]:
spark.sql(""" 
    select count(*),jobrole,
    sum(case when attrition='Yes' then 1 else 0 end) as rate,
    (sum(case when attrition='Yes' then 1 else 0 end)*100/count(*)) as percentage
    from hrtable group by jobrole order by percentage desc
    
""").show()

+--------+--------------------+----+------------------+
|count(1)|             jobrole|rate|        percentage|
+--------+--------------------+----+------------------+
|      82|Sales Representative|  33| 40.24390243902439|
|     259|Laboratory Techni...|  62| 23.93822393822394|
|      52|     Human Resources|  12|23.076923076923077|
|     326|     Sales Executive|  57|17.484662576687118|
|     292|  Research Scientist|  47|16.095890410958905|
|     145|Manufacturing Dir...|  10| 6.896551724137931|
|     131|Healthcare Repres...|   9| 6.870229007633588|
|     102|             Manager|   5| 4.901960784313726|
|      80|   Research Director|   2|               2.5|
+--------+--------------------+----+------------------+

## Hive Integration with pyspark

In [1]:
spark.stop()

In [2]:
#Spark Integration with Hive with Spark Session
spark = (SparkSession.builder.appName("pyspark-hive-integration")
        .config('spark.sql.warehouse.dir','/user/hive/warehouse/')
         .enableHiveSupport().getOrCreate())

In [3]:
spark.sql("show databases").show()

+------------+
|databaseName|
+------------+
|    airlines|
|  banking_db|
|     default|
+------------+

In [4]:
spark.sql("create database if not exists airlines").show()

++
||
++
++

In [17]:
spark.sql("""
            create table if not exists airlines.flights(DayofMonth int,
            DayOfWeek int, Carrier varchar(10),OriginAirportID int,
            DestAirportID int,DepDelay int, ArrDelay int)
            row format delimited
            fields terminated by ','
            lines terminated by '\n'
            STORED AS TEXTFILE 
            TBLPROPERTIES ('skip.header.line.count'='1')
    
            """)

DataFrame[]

In [4]:
spark.sql("use airlines")

DataFrame[]

In [19]:
spark.sql("describe flights").show()

+---------------+---------+-------+
|       col_name|data_type|comment|
+---------------+---------+-------+
|     DayofMonth|      int|   null|
|      DayOfWeek|      int|   null|
|        Carrier|   string|   null|
|OriginAirportID|      int|   null|
|  DestAirportID|      int|   null|
|       DepDelay|      int|   null|
|       ArrDelay|      int|   null|
+---------------+---------+-------+

In [5]:
#overwrite into table flights
spark.sql("""
          load data local inpath '/home/hadoop/Downloads/raw_flight_data1.csv'
          overwrite into table flights""")

DataFrame[]

In [7]:
spark.sql("select * from flights limit 1").show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          11433|        13303|      -3|       1|
+----------+---------+-------+---------------+-------------+--------+--------+

In [8]:
# create table airport
spark.sql("""
            create table if not exists airlines.airport(airport_id int,
            city string, state varchar(10),airport_name string)
            row format delimited
            fields terminated by ','
            lines terminated by '\n'
            STORED AS TEXTFILE 
            TBLPROPERTIES ('skip.header.line.count'='1')
    
            """)

DataFrame[]

In [9]:
#overwrite into table airport
spark.sql("""
          load data local inpath '/home/hadoop/Downloads/airports1.csv'
          overwrite into table airport""")

DataFrame[]

In [11]:
spark.sql("select * from airport limit 1").show()

+----------+-----------+-----+------------+
|airport_id|       city|state|airport_name|
+----------+-----------+-----+------------+
|     10165|Adak Island|   AK|        Adak|
+----------+-----------+-----+------------+

In [13]:
flight_df = spark.table("flights")
airport_df = spark.table("airport")

#### Transformation

In [14]:
combined_df = flight_df.join(airport_df, on = airport_df.airport_id == flight_df.OriginAirportID, how="inner")

In [15]:
combined_df.show(2)

+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------+-----+--------------------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|airport_id|          city|state|        airport_name|
+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------+-----+--------------------+
|        19|        5|     DL|          11433|        13303|      -3|       1|     11433|       Detroit|   MI|Detroit Metro Way...|
|        19|        5|     DL|          14869|        12478|       0|      -8|     14869|Salt Lake City|   UT|Salt Lake City In...|
+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------+-----+--------------------+
only showing top 2 rows

In [16]:
combined_left_df = flight_df.join(airport_df, on = airport_df.airport_id == flight_df.OriginAirportID, how="left")

In [17]:
combined_left_df.show(2)

+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------+-----+--------------------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|airport_id|          city|state|        airport_name|
+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------+-----+--------------------+
|        19|        5|     DL|          11433|        13303|      -3|       1|     11433|       Detroit|   MI|Detroit Metro Way...|
|        19|        5|     DL|          14869|        12478|       0|      -8|     14869|Salt Lake City|   UT|Salt Lake City In...|
+----------+---------+-------+---------------+-------------+--------+--------+----------+--------------+-----+--------------------+
only showing top 2 rows

In [19]:
combined_right_df = flight_df.join(airport_df, on = airport_df.airport_id == flight_df.OriginAirportID, how="right")

In [20]:
combined_right_df.show(2)

+----------+---------+-------+---------------+-------------+--------+--------+----------+----+-----+--------------------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|airport_id|city|state|        airport_name|
+----------+---------+-------+---------------+-------------+--------+--------+----------+----+-----+--------------------+
|        19|        5|     DL|          14570|        14869|      -5|      -8|     14570|Reno|   NV|Reno/Tahoe Intern...|
|        19|        5|     DL|          14570|        14869|      -4|       2|     14570|Reno|   NV|Reno/Tahoe Intern...|
+----------+---------+-------+---------------+-------------+--------+--------+----------+----+-----+--------------------+
only showing top 2 rows

In [21]:
#A-B
combined_leftanti_df = flight_df.join(airport_df, on = airport_df.airport_id == flight_df.OriginAirportID, how="leftanti")

In [22]:
combined_leftanti_df.show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
+----------+---------+-------+---------------+-------------+--------+--------+

In [23]:
#only print left table which is common in right side
combined_leftsemi_df = flight_df.join(airport_df, on = airport_df.airport_id == flight_df.OriginAirportID, how="leftsemi")

In [24]:
combined_leftsemi_df.show()

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          11433|        13303|      -3|       1|
|        19|        5|     DL|          14869|        12478|       0|      -8|
|        19|        5|     DL|          14057|        14869|      -4|     -15|
|        19|        5|     DL|          15016|        11433|      28|      24|
|        19|        5|     DL|          11193|        12892|      -6|     -11|
|        19|        5|     DL|          10397|        15016|      -1|     -19|
|        19|        5|     DL|          15016|        10397|       0|      -1|
|        19|        5|     DL|          10397|        14869|      15|      24|
|        19|        5|     DL|          10397|        10423|      33|      34|
|        19|        5|     DL|          11278|        10397|     323|     322|
|        19|        5|     DL|          14107|        13487|      -7|     -13|
|        19|        5|     DL|          11433|        11298|      22|      41|
|        19|        5|     DL|          11298|        11433|      40|      20|
|        19|        5|     DL|          11433|        12892|      -2|      -7|
|        19|        5|     DL|          10397|        12451|      71|      75|
|        19|        5|     DL|          12451|        10397|      75|      57|
|        19|        5|     DL|          12953|        10397|      -1|      10|
|        19|        5|     DL|          11433|        12953|      -3|     -10|
|        19|        5|     DL|          10397|        14771|      31|      38|
|        19|        5|     DL|          13204|        10397|       8|      25|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 20 rows

In [ ]:
combined_df.repartition()

In [26]:
combined_df.write.partitionBy('Carrier').parquet("/airlines")

In [33]:
airline_join = spark.read.parquet('/airlines')

In [34]:
airline_join.createOrReplaceTempView("airline")

In [37]:
spark.sql("select avg(ArrDelay) from airline where Carrier='AA' ").show()

+------------------+
|     avg(ArrDelay)|
+------------------+
|11.651327332054372|
+------------------+

In [38]:
spark.sql("describe airline").show()

+---------------+---------+-------+
|       col_name|data_type|comment|
+---------------+---------+-------+
|     DayofMonth|      int|   null|
|      DayOfWeek|      int|   null|
|OriginAirportID|      int|   null|
|  DestAirportID|      int|   null|
|       DepDelay|      int|   null|
|       ArrDelay|      int|   null|
|     airport_id|      int|   null|
|           city|   string|   null|
|          state|   string|   null|
|   airport_name|   string|   null|
|        Carrier|   string|   null|
+---------------+---------+-------+

In [39]:
combined_df.columns

['DayofMonth',
 'DayOfWeek',
 'Carrier',
 'OriginAirportID',
 'DestAirportID',
 'DepDelay',
 'ArrDelay',
 'airport_id',
 'city',
 'state',
 'airport_name']

## Hbase Integration with Pyspark

In [2]:
spark.stop()

In [6]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("HbaseIntegration").getOrCreate()

In [7]:
hbase_conf = {
    "hbase.zookeeper.quorum":'localhost',
    "hbase.mapreduce.inputtable":'hcustomer',
    "hbase.client.scanner.timeout.period":"600000"
}

In [ ]:
spark.read.format("org.apache.hadoop.hbase.spark").options(**hbase_conf).load()

## Load on MySQL

In [40]:
# fetch the combined_df data into mysql 
connection_properties = {
    "user":"root",
    "password":"hadoop@123",
    "driver":"com.mysql.cj.jdbc.Driver"
}
combined_df.write.jdbc(url="jdbc:mysql://localhost:3306/airlines",table="airline",
                mode = "overwrite",properties = connection_properties)