In [1]:
sc

In [2]:
spark

In [8]:
hr_df = spark.read.csv("file:///home/hadoop/Downloads/HR_Employee.csv", inferSchema=True, header=True)

In [9]:
hr_df.createOrReplaceTempView('hremployee')

In [ ]:
hr_df.explain()

In [14]:
#### 2. Write quer to display maximum salary from each department using hremployee
spark.sql("select max(income), department from hremployee group by department").show()

+-----------+--------------------+
|max(income)|          department|
+-----------+--------------------+
|      19847|               Sales|
|      19999|Research & Develo...|
|      19717|     Human Resources|
+-----------+--------------------+

In [ ]:
#### 3 write the query to show employee details with department having highest salary from each department

In [15]:
spark.sql("select * from (select max(income), department from hremployee group by department)").show()

+-----------+--------------------+
|max(income)|          department|
+-----------+--------------------+
|      19847|               Sales|
|      19999|Research & Develo...|
|      19717|     Human Resources|
+-----------+--------------------+